
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <ErrorBoundary>
            <ChildContent>
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            </ChildContent>
            <ErrorContent>
                <div style="color:red;">Une erreur est survenue.</div>
            </ErrorContent>
        </ErrorBoundary>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

